mj-section(padding="0")
    mj-column(padding="15px" padding-bottom="25px" width="100%" mj-class="bgT1")
        mj-text(padding="0" align="center" mj-class="T30-500 cTW") ... et bien plus encore sur le store netgear
        mj-spacer(height="40px")
        mj-button(mj-class="bgW cT1") Découvrir
    mj-column(padding="14px" padding-bottom="30px" width="100%" mj-class="bgW")
        mj-text(padding="0" align="center" mj-class="T15-300 cT1") * Support mural Offert sur la sélection suivante : RBK852WM-100EUS, RBK853WM-100EUS, RBK854WM-100EUS et RBK855WM-100EUS. Offre valable jusqu'au 20 Septembre inclus et dans la limite des stocks disponibles.