mj-section
    mj-column(width="100%")
        mj-text(padding="0" align="center") Equipez-vous du meilleur WiFi pour la rentrée
    mj-column(width="100%")
        mj-image(padding="0" width="700px" src="./images/illustration.jpg" alt="")/
    mj-column(width="100%")
        mj-text(padding="0" align="center") Des promos à saisir vite doctype html
        mj-text(padding="0" align="center" mj-class="T17-500 cT1") Le retour de congé est une période de l’année que nous redoutons amèrement.Pour vous aider à la digérer, nous vous avons concocté plusieurs promos qui pourraient vous intéresser pour bien démarrer votre année.
        mj-text(padding="0" align="center" mj-class="T17-500 cT1") Equipez-vous de nos Solutions Mesh Orbi WiFi 6 pour faire face à tous les usages qui peuvent se faire simultanément à la maison, comme le téléchargement de fichiers volumineux pendant votre télétravail, le streaming d’un film ou une série, les conférences pour un cours à distance, les jeux en ligne et bien plus encore.
        mj-text(padding="0" align="center" mj-class="T17-500 cT1") Profitez sans plus tarder des promos en cours.