mj-section
    mj-column(width="100%" mj-class="bgT1")
        mj-text(padding="0" align="center" mj-class="T32-300 cTW") Equipez-vous du meilleur WiFi pour la rentrée
    mj-column(width="100%")
        mj-image(padding="0" width="700px" src="./images/illustration.jpg" alt="")/
    mj-column(width="100%" mj-class="bgW")
        mj-text(padding="0" align="center" mj-class="T26-400 cT1" letter-spacing="0.5px") Des promos à saisir vite
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Le retour de congé est une période de l’année que nous redoutons amèrement.Pour vous aider à la digérer, nous vous avons concocté plusieurs promos qui pourraient vous intéresser pour bien démarrer votre année.
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Equipez-vous de nos Solutions Mesh Orbi WiFi 6 pour faire face à tous les usages qui peuvent se faire simultanément à la maison, comme le téléchargement de fichiers volumineux pendant votre télétravail, le streaming d’un film ou une série, les conférences pour un cours à distance, les jeux en ligne et bien plus encore.
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Profitez sans plus tarder des promos en cours.