mj-section
    mj-column
        mj-text Système Mesh Orbi WiFi AX6000 Support Mural offert* 
    mj-column
        mj-text La meilleure connexion WiFi qui puisse exister
    mj-column
        mj-image(src="./images/rbk852.jpg" alt="")/
        mj-text Système Mesh Orbi WiFi 6
        mj-text AX6000 (RBK852)
        mj-text Jusqu'à 460 m2
        mj-text +1 support mural offert
        mj-text 819.99€ 789.99€
        mj-button J'en profite
    mj-column
        mj-image(src="./images/rbk853.jpg" alt="")/
        mj-text Système Mesh Orbi WiFi 6
        mj-text AX6000 (RBK853)
        mj-text Jusqu'à 690 m2
        mj-text +2 supports muraux offerts
        mj-text 1139.99€ 1069.99€
        mj-button J'en profite
    mj-column
        mj-image(src="./images/rbk854.jpg" alt="")/
        mj-text Système Mesh Orbi WiFi 6
        mj-text AX6000 (RBK854)
        mj-text Jusqu'à 920 m2
        mj-text +3 supports muraux offerts
        mj-text 1609.99€ 1469.99€
        mj-button J'en profite