mj-section
    mj-column(width="100%" mj-class="bgB")
        mj-text(padding="0" align="center" mj-class="T25-300 cTW") Système Mesh Orbi WiFi AX6000 Support Mural offert* 
    mj-column(width="100%" mj-class="bgB")
        mj-text(padding="0" align="center" mj-class="T25-300 cTW" font-weight="700") La meilleure connexion WiFi qui puisse exister
    mj-column(width="33.333333%")
        mj-image(padding="0" width="208px" src="./images/rbk852.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500") Système Mesh Orbi WiFi 6
        mj-text(padding="0" align="center" mj-class="T17-500") AX6000 (RBK852)
        mj-text(padding="0" align="center" mj-class="T17-500") Jusqu'à 460 m2
        mj-text(padding="0" align="center" mj-class="T17-500") +1 support mural offert
        mj-text(padding="0" align="center" mj-class="T17-500") 819.99€ 789.99€
        mj-button J'en profite
    mj-column(width="33.333333%")
        mj-image(padding="0" width="208px" src="./images/rbk853.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500") Système Mesh Orbi WiFi 6
        mj-text(padding="0" align="center" mj-class="T17-500") AX6000 (RBK853)
        mj-text(padding="0" align="center" mj-class="T17-500") Jusqu'à 690 m2
        mj-text(padding="0" align="center" mj-class="T17-500") +2 supports muraux offerts
        mj-text(padding="0" align="center" mj-class="T17-500") 1139.99€ 1069.99€
        mj-button J'en profite
    mj-column(width="33.333333%")
        mj-image(padding="0" width="208px" src="./images/rbk854.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500") Système Mesh Orbi WiFi 6
        mj-text(padding="0" align="center" mj-class="T17-500") AX6000 (RBK854)
        mj-text(padding="0" align="center" mj-class="T17-500") Jusqu'à 920 m2
        mj-text(padding="0" align="center" mj-class="T17-500") +3 supports muraux offerts
        mj-text(padding="0" align="center" mj-class="T17-500") 1609.99€ 1469.99€
        mj-button J'en profite