mj-section
    mj-column
        mj-text Jusqu'à -30% sur cette sélection de produits
    mj-column
        mj-image(src="./images/ex8000.jpg" alt="")/
        mj-text Répéteur WiFi Mesh
        mj-text AC3000 (EX8000)
        mj-text 169.99€ 139.99€
        mj-button J'en profite
    mj-column
        mj-image(src="./images/ex6250.jpg" alt="")/
        mj-text Répéteur WiFi Mesh
        mj-text AC1750 (EX6250)
        mj-text 59.99€ 49.99€
        mj-button J'en profite
    mj-column
        mj-image(src="./images/mc327bl.jpg" alt="")/
        mj-text Tableau d'Art connecté
        mj-text Meural Cadre Noir 27"
        mj-text (MC327BL)
        mj-text 849.99€ 599.99€
        mj-button J'en profite
    mj-column
        mj-image(src="./images/mc321wl.jpg" alt="")/
        mj-text Tableau d'Art connecté
        mj-text Meural Cadre Blanc 21"
        mj-text (MC321WL)
        mj-text 699.99€ 499.99€
        mj-button J'en profite