mj-section
    mj-column(width="100%")
        mj-text(padding="0" align="center") Jusqu'à -30% sur cette sélection de produits
    mj-column(width="50%")
        mj-image(padding="0" width="275px" src="./images/ex8000.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500") Répéteur WiFi Mesh
        mj-text(padding="0" align="center" mj-class="T17-500") AC3000 (EX8000)
        mj-text(padding="0" align="center" mj-class="T17-500") 169.99€ 139.99€
        mj-button J'en profite
    mj-column(width="50%")
        mj-image(padding="0" width="275px" src="./images/ex6250.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500") Répéteur WiFi Mesh
        mj-text(padding="0" align="center" mj-class="T17-500") AC1750 (EX6250)
        mj-text(padding="0" align="center" mj-class="T17-500") 59.99€ 49.99€
        mj-button J'en profite
    mj-column(width="50%")
        mj-image(padding="0" width="275px" src="./images/mc327bl.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500") Tableau d'Art connecté
        mj-text(padding="0" align="center" mj-class="T17-500") Meural Cadre Noir 27"
        mj-text(padding="0" align="center" mj-class="T17-500") (MC327BL)
        mj-text(padding="0" align="center" mj-class="T17-500") 849.99€ 599.99€
        mj-button J'en profite
    mj-column(width="50%")
        mj-image(padding="0" width="275px" src="./images/mc321wl.jpg" alt="")/
        mj-text(padding="0" align="center" mj-class="T17-500") Tableau d'Art connecté
        mj-text(padding="0" align="center" mj-class="T17-500") Meural Cadre Blanc 21"
        mj-text(padding="0" align="center" mj-class="T17-500") (MC321WL)
        mj-text(padding="0" align="center" mj-class="T17-500") 699.99€ 499.99€
        mj-button J'en profite