mj-section(padding="0" mj-class="bgW")
    mj-column(padding="25px 45px" width="100%" mj-class="bgT1")
        mj-text(padding="0" align="center" mj-class="T25-300 cTW" letter-spacing="2px") Jusqu'à -30% sur cette sélection de produits
    mj-column(padding="10px" width="50%")
        mj-image(padding="0" width="275px" src="./images/ex8000.jpg" alt="")/
        mj-spacer(height="10px")
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Répéteur WiFi Mesh
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") AC3000 (EX8000)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="color:#ff0000;text-decoration-line:line-through;") 169.99€] #[strong(style="color:#00a3de;") 139.99€]
        mj-spacer(height="20px")
        mj-button(mj-class="bgT1") J'en profite
        mj-spacer(height="40px")
    mj-column(padding="10px" width="50%")
        mj-image(padding="0" width="275px" src="./images/ex6250.jpg" alt="")/
        mj-spacer(height="10px")    
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Répéteur WiFi Mesh
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") AC1750 (EX6250)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="color:#ff0000;text-decoration-line:line-through;") 59.99€] #[strong(style="color:#00a3de;") 49.99€]
        mj-spacer(height="20px")
        mj-button(mj-class="bgT1") J'en profite
        mj-spacer(height="40px")
    mj-column(padding="10px" width="50%")
        mj-image(padding="0" width="275px" src="./images/mc327bl.jpg" alt="")/
        mj-spacer(height="10px")
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Tableau d'Art connecté
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Meural Cadre Noir 27"
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") (MC327BL)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="color:#ff0000;text-decoration-line:line-through;") 849.99€] #[strong(style="color:#00a3de;") 599.99€]
        mj-spacer(height="20px")
        mj-button(mj-class="bgT1") J'en profite
        mj-spacer(height="40px")
    mj-column(padding="10px" width="50%")
        mj-image(padding="0" width="275px" src="./images/mc321wl.jpg" alt="")/
        mj-spacer(height="10px")
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Tableau d'Art connecté
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") Meural Cadre Blanc 21"
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") (MC321WL)
        mj-text(padding="0" align="center" mj-class="T17-500 cT1" letter-spacing="0.5px") #[span(style="color:#ff0000;text-decoration-line:line-through;") 699.99€] #[strong(style="color:#00a3de;") 499.99€]
        mj-spacer(height="20px")
        mj-button(mj-class="bgT1") J'en profite
        mj-spacer(height="40px")